<template>
    <div class="container mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Products</div>

                    <form class="form-inline mt-3" @submit.prevent="fetchData(1)">
                        <div class="form-group mx-sm-3">
                            <label for="name" class="sr-only">Password</label>
                            <input v-model="search" type="text" class="form-control" id="name" placeholder="Enter name product">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                        <button type="reset" class="btn btn-secondary ml-1" @click="reset">Reset</button>
                    </form>

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in data.items" :key="item.id">
                                <td>{{ item.id }}</td>
                                <td><img :src="item.image_thumb_url" :alt="item.product_name"></td>
                                <td>{{ item.product_name }}</td>
                                <td>{{ item.categories }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" @click="saveItem(item)">
                                        Save
                                    </button>
                                </td>
                            </tr>
                            <tr v-if="loader">
                                <td colspan="5">
                                    <div class="text-center">
                                        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;"
                                             role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <paginate
                                        :pageCount="data.pages"
                                        :clickHandler="fetchData"
                                        :prevText="'Prev'"
                                        :nextText="'Next'"
                                        :page-class="'page-item'"
                                        :page-link-class="'page-link'"
                                        :prev-class="'page-item'"
                                        :prev-link-class="'page-link'"
                                        :next-class="'page-item'"
                                        :next-link-class="'page-link'"
                                        :containerClass="'pagination'">
                                    </paginate>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Products",
    data: () => ({
        url: '/api/products',
        data: {
            items: [],
            pages: 0
        },
        loader: false,
        search: null
    }),

    created: function () {
        this.fetchData(1);
    },

    methods: {
        fetchData(page) {
            if (this.loader) {
                return;
            }

            this.loaded();

            window.axios
                .get(this.url, {
                    params: {
                        page: page,
                        search: this.search
                    }
                })
                .then(response => (this.data = response.data))
                .catch(error => (alert(error.message)))
                .then(() => (this.loader = false));
        },

        loaded() {
            this.loader = true;
            this.data.items = [];
        },

        saveItem(item) {
            window.axios
                .post(this.url, item)
                .then(response => (alert(response.data.message)))
                .catch(error => (alert(error.message)));
        },

        reset() {
            this.search = null;
            this.fetchData(1);
        }
    }
}
</script>
